body {
  margin: 0;
  background-color: #EDEDE9;
  font-family: 'Degular', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  gap: 80px; 
}

.button {
  padding: 14px 28px;
  font-size: 30px;
  font-weight: 500; 
  color: black;
  border: none;
  cursor: pointer;  
  text-align: center;
}


.red {
  background-color: #EF233C;
}

.yellow {
  background-color: #FFD60A;
}

.blue {
  background-color: #1E96FC;
}

.image {
  width: 300px;
  height: 320px;
  background-color: #B8B5B5; 
  position: absolute;
  top: 26.2%;
  left: 30%; 
  transform: translate(-300px, -50%); 
  display: none;
}

.image.show {
  display: block;
}

.about {
  width: 386px;
  height: 240px;
  background-color: #B8B5B5; 
  position: absolute;
  top: 68.9%;
  right: 63.91%;  
  transform: translate(300px, -50%);
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  font-size: 16px;
}

.about.show {
  display: block;
}

.work {
  position: absolute;
  bottom: 45.8%; 
  right: 27.8%;              
  transform: translate(300px, 0);
  display: none;
  flex-direction: column;
}

.work.show {
  display: flex;
}

.work-box {
  width: 280px;
  height: 50px;     
}

.work-box:nth-child(1) { background-color: #a09f9f; }
.work-box:nth-child(2) { background-color: #D8D8D8; }
.work-box:nth-child(3) { background-color: #C8C8C8; }
.work-box:nth-child(4) { background-color: #B8B8B8; }
.work-box:nth-child(5) { background-color: #A8A8A8; }
.work-box:nth-child(6) { background-color: #989898; }
.work-box:nth-child(7) { background-color: #646464; }

.instagram {
  position: absolute;
  font-family: 'Degular', sans-serif;
  font-size: 25px;  
  font-weight: 500;
  color: #333;
  bottom: 50%;  
  left: 30%;             
  transform: translateX(-300px);     
  opacity: 0;
  cursor: pointer;
  
}

.instagram.show {
  opacity: 1;
}

.contact {
  position: absolute;
  font-family: 'Degular', sans-serif;
  font-size: 25px;  
  font-weight: 500;
  color: #333;
  bottom: 12%;  
  right: 22.3%;             
  transform: translateX(-300px);     
  opacity: 0;
  cursor: pointer;
  
}

.contact.show {
  opacity: 1;
}

.cv {
  position: absolute;
  font-family: 'Degular', sans-serif;
  font-size: 25px;  
  font-weight: 500;
  color: #333;
  bottom: 12%;  
  right: 22.3%;             
  transform: translateX(-300px);     
  opacity: 0;
  cursor: pointer;
  
}

.cv.show.show {
  opacity: 1;
}
