body {
  margin: 0;
  background-color: #c1121f;
  font-family: "neue-haas-unica", sans-serif;
font-weight: 400;
font-style: normal;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  gap: 5rem;
}

.button {
  padding: 0.6rem 1.2rem;
  font-size: 1.5625rem;
  font-weight: 500;
  color: black;
  cursor: pointer;
  text-align: center;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


.red {
  background-color: #f21826
  }

.yellow {
  background-color: #FFD60A;
}

.blue {
  background-color: #1E96FC;
}

.image {
  width: 18.75rem;
  height: 20rem;
  background-image: url('imagepic.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 27.6%;
  left: 30%;
  transform: translate(-18.75rem, -50%);
  display: none;
}

.image.show {
  display: block;
}

.instagram {
  position: absolute;
  font-size: 1.25rem;
  font-weight: 500;
  color: #000000;
  bottom: 49%;
  left: 30%;
  transform: translateX(-18.75rem);
  opacity: 0;
  cursor: pointer;

}

.instagram.show {
  opacity: 1;
}

.about {
  width: 30rem;
  height: 10rem;
  background-color: whitesmoke;
  position: absolute;
  bottom: 17.75%;
  right: 64.94%;
  transform: translate(18.75rem, -50%);
  display: none;
  padding: 0.625rem;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 0.875rem;
}

.about.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact {
  position: absolute;
  font-size: 1.25rem;
  font-weight: 500;
  color: #000000;
  bottom: 24%;
  right: 23.3%;
  transform: translateX(-18.75rem);
  opacity: 0;
  cursor: pointer;

}

.contact.show {
  opacity: 1;
}

.cv {
  position: absolute;
  font-size: 1.25rem;
  font-weight: 500;
  color: #000000;
  bottom: 21%;
  right: 23.3%;
  transform: translateX(-18.75rem);
  opacity: 0;
  cursor: pointer;

}

.cv.show.show {
  opacity: 1;
}


.work {
  position: absolute;
  bottom: 46.1%;
  right: 30.5%;
  transform: translate(18.75rem, 0);
  display: none;
  font-size: 1.5625rem;
  flex-direction: column;
  text-align: center;
  padding: 0.6rem 1.2rem;

}

.work.show {
  display: flex;
}

.work > * {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem 1.2rem;
  white-space: nowrap;
  line-height: 1;
  font-weight: 500;
  transition: transform 0.3s ease;
}

.work > *:hover {
  transform: translateX(-0.7rem);
  cursor: pointer;
}

.work > *:nth-child(1) { background-color: #a09f9f; }
.work > *:nth-child(2) { background-color: #D8D8D8; }
.work > *:nth-child(3) { background-color: #C8C8C8; }
.work > *:nth-child(4) { background-color: #B8B8B8; }
.work > *:nth-child(5) { background-color: #A8A8A8; }
.work > *:nth-child(6) { background-color: #989898; }
.work > *:nth-child(7) { background-color: #646464; }

.work-video {
  position: absolute;
  height: auto;
  display: none;
  z-index: 100;
}

.work-video.show {
  display: block;
}

#edibleStreetsVideo {
  top: 30.5%;
  left: 51%;
  transform: translate(-50%, -50%);
  width: 30rem;
}

#nothingIsWastedVideo {
  top: 44%;
  left: 54%;
  transform: translate(-50%, -50%);
  width: 25rem;
}


